<div>
  <form [formGroup]="doacaoForm" (ngSubmit)="handleSubmit()">
    <div class="card flex flex-column gap-3 custom-form">
      <!-- Campo oculto para ID da Doacao -->
      <input type="hidden" formControlName="idDoacao" />

      <!-- Dropdown para escolher o Doador -->
      <div class="form-group">
        <label for="doador">Doador</label>
        <p-dropdown
          id="doador"
          [options]="DoadorOptions"
          formControlName="idDoador"
          placeholder="Selecione o doador"
          dataKey="value"
          [placeholder]="selectedDoador?.value?.toString() ?? 'Selecione o doador'"
        >
        </p-dropdown>
      </div>

      <script>
        function abrirCadastrodoador() {
          window.location.href = "doador-form.component.html";
        }
      </script>

      <!-- Dropdown para escolher o Beneficiario -->
      <div class="form-group">
        <label for="beneficiario">Beneficiario</label>
        <p-dropdown
          id="beneficiario"
          [options]="BeneficiarioOptions"
          formControlName="idBeneficiario"
          placeholder="Selecione o Beneficiario"
          dataKey="value"
          [placeholder]="selectedBeneficario?.value?.toString() ?? 'Selecione o Beneficiario'"
        >
        </p-dropdown>
      </div>

      <script>
        function abrirCadastrobeneficiario() {
          window.location.href = "beneficiario-form.component.html";
        }
      </script>

      <!-- Endereço -->
      <!-- <div class="form-group">
            <label for="cep">CEP</label>
            <input 
              id="cep"
              pInputText 
              placeholder="CEP" 
              formControlName="cep" 
              maxlength="8" 
            />
        </div> -->

      <!-- <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <input 
              id="logradouro"
              pInputText 
              placeholder="Logradouro" 
              formControlName="logradouro" 
            />
          </div> -->

      <!-- <div class="form-group">
            <label for="numero">Número</label>
            <input 
              id="numero"
              pInputText 
              placeholder="Número" 
              formControlName="numero" 
            />
          </div>
    
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input 
              id="complemento"
              pInputText 
              placeholder="Complemento" 
              formControlName="complemento" 
            />
          </div>
    
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input 
              id="bairro"
              pInputText 
              placeholder="Bairro" 
              formControlName="bairro" 
            />
          </div>
    
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input 
              id="cidade"
              pInputText 
              placeholder="Cidade" 
              formControlName="cidade" 
            />
          </div> -->

      <!-- Estado (UF) -->
      <!-- <div class="form-group">
          <label for="uf">Estado (UF)</label>
          <p-dropdown 
            id="uf"
            [options]="estados" 
            formControlName="siglaestado" 
            placeholder="Selecione um Estado">
          </p-dropdown>
        </div> -->

      <!-- Descrição -->
      <div class="form-group">
        <label for="descricao">Descrição *</label>
        <input
          id="descricao"
          pInputText
          placeholder="Descricão"
          formControlName="descricao"
        />
      </div>

      <!-- List of Itens -->
      <label for="itens" style="font-weight: 700">Itens</label>

      <div
        *ngFor="let item of doacaoForm.get('itens')?.value; let i = index"
        style="border: 2px solid black; padding: 4px; border-radius: 8px"
        
      >
        <p>Item {{ i + 1 }}</p>
        <p>          {{
          item?.tipoLabel
            ? "Tipo: " + item?.tipoLabel
            : null
        }}</p>
        <p>
          {{
            item?.quantidade
              ? "Quantidade: " + item?.quantidade
              : null
          }}
        </p>
        <p>
          {{
            item?.valor
              ? "Valor: R$" + item?.valor
              : null
          }}
        </p>
        <p>Descrição: {{ item?.descricao }}</p>
      </div>

      <div class="form-group flex justify-content-center">
        <p-button (click)="showDialog($event)" label="Adicionar item" />
      </div>

      <!-- Botão de Submissão -->
      <div class="form-group flex justify-content-center">
        <p-button type="submit" label="Concluir"> </p-button>
      </div>
    </div>
  </form>
  <p-dialog
    [(visible)]="itemModalVisible"
    [modal]="true"
    header="Detalhes do Item"
    st
  >
    <div
      class="form-group"
      style="
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 100%;
        align-items: start;
        margin-bottom: 0.5rem;
      "
    >
      <label for="tipo">Tipo</label>
      <p-dropdown
        id="tipo"
        [(ngModel)]="currentItem.tipo"
        [options]="tipoOptions"
        optionLabel="label"
        placeholder="Selecione o tipo"
      ></p-dropdown>
    </div>

    <div
      class="form-group"
      style="
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 100%;
        align-items: start;
        margin-bottom: 0.5rem;
      "
    >
      <label for="quantidade">Quantidade</label>
      <input
        id="quantidade"
        pInputText
        [(ngModel)]="currentItem.quantidade"
        placeholder="Quantidade"
        type="number"
      />
    </div>
    <div
      class="form-group"
      style="
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 100%;
        align-items: start;
        margin-bottom: 0.5rem;
      "
    >
      <label for="valor">Valor</label>
      <input
        id="valor"
        pInputText
        [(ngModel)]="currentItem.valor"
        placeholder="Valor"
        type="number"
      />
    </div>
    <div
      class="form-group"
      style="
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 100%;
        align-items: start;
        margin-bottom: 0.5rem;
      "
    >
      <label for="descricao">Descrição</label>
      <input
        id="descricao"
        pInputText
        [(ngModel)]="currentItem.descricao"
        placeholder="Descrição"
      />
    </div>
    <p-button type="button" (click)="addItem()" label="Adicionar" />
  </p-dialog>
</div>
