<p-toolbar styleClass="">
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-home"
      label="Inicio"
      routerLink="/dashboard"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
    ></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <p-button
      label="Beneficiarios"
      icon="pi pi-users"
      routerLink="/beneficiario"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <p-button
      label="Doadores"
      icon="pi pi-user"
      routerLink="/doador"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <p-button
      label="Doações"
      icon="pi pi-wallet"
      routerLink="/doacao"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <p-button
      label="Categorias dos Produtos"
      icon="pi pi-list"
      routerLink="/tipodoacao"
      styleClass="p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      label="Sair"
      icon="pi pi-sign-out"
      styleClass="p-button-danger"
      (onClick)="handleLogout()"
    ></p-button>
  </div>
</p-toolbar>
