<app-toolbar-navigation></app-toolbar-navigation>

<div class="grid">
  <div class="col-12">
    <!-- Aqui você pode adicionar qualquer conteúdo relevante para o Dashboard -->
    <p-card styleClass="shadow-3 m-5 text-indigo-800">
      <img src="../../../../../favicon.ico" alt="img-inlar" style="width:250px; height: 150px; padding-bottom: 24px;">
      <p>O aplicativo desenvolvido para o Instituto Nosso Lar é uma ferramenta exclusiva de controle de estoque e doações, criada para simplificar e humanizar a gestão de recursos da instituição pelos próprios funcionários. Com esta plataforma, é possível acompanhar e administrar cada item no estoque, garantindo que as doações cheguem exatamente onde são mais necessárias. A plataforma oferece uma experiência intuitiva, facilitando as contribuições e maximizando o impacto social.</p>
    </p-card>
  </div>
</div>
