<div class="grid">
      <!-- Login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()" *ngIf="loginCard">
        <p-card
          styleClass="mt-10"
          *ngIf="loginCard"
        >
        <img src="../../../favicon.ico" alt="logoinlar">
        <h1>Login</h1>
        <h5>Faça seu login para que assim consiga acessar o sistema!</h5>
          <div class="email">
            <label for="">E-mail</label>
            <input
              type="text"
              pInputText
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <div class="senha">
            <label for="">Senha</label>
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="senha"
            />
          </div>
            <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid"></button>
        </p-card>
      </form>
</div>
