$primary-color: #0586FE;
$backgorund-1:#fafafa;
$white:#ffffff;

.grid{
  display: flex;
  align-items: center;
  margin-top: 100px;

}

img {
  height: 100px;
  display: flex;
  margin: auto;
}

form {
  text-align: center;
  width: 420px;
  padding:0;
}

input{
  width: 100%;
}

label{
  font-size: 16px;
  margin: 16px 0 ;
}

button{
  width: 100%;
  cursor: pointer;
}

span{
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.nome,.senha,.email{
  text-align: left;
  margin-bottom: 24px;
}

h1{
  padding-top: 24px;
  font-size: 28px;
}

h5{
  font-size: 16px;
  font-weight: 400
}