$primary-color: #0586FE;
$background-1: #fafafa;
$white: #ffffff;

/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-1;
  color: #333;
}

/* Formulários */
form {
  margin: 0 auto;
  padding: 20px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
      color: #333;
    }

    input,
    select,
    textarea {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 14px;
      background-color: $white;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 0 2px rgba(5, 134, 254, 0.2);
      }
    }

    textarea {
      resize: none;
      min-height: 80px;
    }
  }

  .btn-primary {
    background-color: $primary-color;
    color: $white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

/* Tabelas */
.p-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th,
  td {
    padding: 12px 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: $white;
    color: #333;
    font-weight: bold;
  }
}

/* Botões */
.p-button-rounded {
  border-radius: 50% !important;
  padding: 0.5rem !important;
}

.p-button-warning {
  background-color: #f8c146 !important;
}

.p-button-danger {
  background-color: #e74c3c !important;
}

/* Layout Personalizado */
.custom-form {
  background-color: $white;
  border-radius: 8px;
  padding: 24px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;

    label {
      font-weight: bold;
      margin-bottom: 4px;
      font-size: 0.9rem;
      color: #333;
    }

    input,
    textarea,
    .p-inputmask,
    .p-dropdown {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 0.9rem;
      color: #333;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 0 2px rgba(5, 134, 254, 0.2);
      }
    }

    input{
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 0.9rem;
      color: #333;
      padding: 12px 8px;
    }
  }

  .juncao {
    display: flex;
    gap: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .form-button {
    text-align: right;
    margin-top: 16px;

    .p-button {
      background-color: $primary-color;
      border: none;
      color: $white;
      padding: 12px 16px;
      font-size: 16px;
      border-radius: 4px;
      width: 50%;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

img{
  width: 100%;
}